<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://admin-cmsdurban.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>admin-cmsdurban.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>admin-cmsdurban</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$admin-cmsdurban</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQLServerDBConnectionString1" Order="1" Enabled="False">
          <Destination Path="Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLServerDBConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=furiosa.aserv.co.za,1434;uid=cmsduutt_user;pwd=lpuszC4d41;database=cmsduutt_db" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SQLServerDBConnectionString3" Order="2" Enabled="False">
          <Destination Path="Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLServerDBConnectionString3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=furiosa.aserv.co.za,1434;uid=cmsduutt_user;pwd=lpuszC4d41;database=cmsduutt_db" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SQLServerDBConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLServerDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=furiosa.aserv.co.za,1434;uid=cmsduutt_user;pwd=lpuszC4d41;database=cmsduutt_db" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="4" Enabled="False">
          <Destination Path="Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLServerDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLServerDBConnectionString1-Web.config Connection String">
      <ParameterValue>Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLServerDBConnectionString3-Web.config Connection String">
      <ParameterValue>Data Source=furiosa.aserv.co.za,1434;Initial Catalog=cmsduutt_db;User ID=cmsduutt_user;Password=lpuszC4d41</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>